.background-img {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  img {
    margin-left: -4rem;
    object-position: left;
    position: relative;
    object-fit: cover;
    height: 100%;
    width: calc(100% + 4rem);
  }
}
