.headline {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.2rem;
  @media (min-width: 800px) {
    font-size: 3rem;
  }
  line-height: 1.2;
  &--small {
    font-size: 0.5em;
  }
  &--normal {
    line-height: 1.1;
    font-size: 1.7em;
  }
  &--blue {
    color: $blue;
  }
  &--dark-blue {
    color: $darkBlue;
  }
  &--orange {
    color: $orange;
  }
  &--center {
    text-align: center;
  }
  &--light {
    font-weight: 300;
  }
}
