.hero {
  position: relative;
  height: calc(100vh - 3.5rem);
  overflow: hidden;
  &__details {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 2rem;
    img {
      height: 3.1rem;
    }
  }
  @media (min-width: 600px) {
    &__details {
      align-items: center;
      flex-direction: row;
    }
  }
  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__inner {
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    position: relative;
    max-width: 600px;
    float: right;
  }
  &__header {
    line-height: 1.8;
    font-size: 2.5rem;
    @media (min-width: 600px) {
      font-size: 4rem;
      line-height: 1.2;
      latter-spacing: 1.2;
    }
    overflow-wrap: break-word;
  }
  &__header--desktop {
    display: none;
  }
  @media (min-width: 600px) {
    &__inner {
      text-align: right;
    }
    &__header--desktop {
      display: inline;
    }
    &__header--mobile {
      display: none;
      text-align: left !important;
    }
  }
}
