.nav {
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 99999;
  color: #424040;
  &--no-overflow {
    overflow-y: hidden;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  & a:hover {
    color: $orange;
  }
  & * {
    list-style-type: none;
  }
  &__upper {
    background-color: #fff;
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
    font-size: 2.2rem;
    cursor: pointer;
    padding: 5px 0 5px 5px;
  }
  &__logo {
    height: 3rem;
    img {
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  &__lower {
    display: none;
    transition: 0.1s;
    overflow-x: hidden;
    background-color: #fff;
    min-height: 100%;
    width: 0rem;
    padding: 0;
    margin: 0;
  }
  &__lower--is-open {
    display: flex;
    width: 100%;
    padding: 1rem 2rem;
  }
  & &__sub-menu {
    font-size: 1.1rem;
    padding-left: 1rem;
    li {
      padding: 0.2rem 0;
    }
  }
  &__links {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.6rem;
  }
  @media (min-width: 800px) {
    padding: 0.4rem 2rem;
    background-color: #fff;
    margin: auto;
    position: sticky;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &__button {
      display: none;
    }
    &__lower {
      overflow-x: visible;
      display: flex;
    }
    &__links {
      flex-direction: row;
      justify-content: flex-start;
      height: 100%;
      width: auto;
      align-items: center;
      gap: 1.2rem;
      flex-wrap: wrap;
      padding-right: 2rem;
      overflow-y: visible;
    }
    &__link {
      position: relative;
      &--active > a {
        color: $orange;
      }
    }
    &__sub-menu {
      height: 100%;
      list-style-type: none;
      overflow-y: scroll;
      margin: 0;
      padding: 2rem;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 300px;
      min-height: 500px;
      background-color: $lightGray;
      z-index: 999999999;
    }
    &__link:hover &__sub-menu {
      display: inline-block;
    }
    &--no-overflow {
      overflow-y: visible;
    }
  }
}
