.pain-points {
  display: flex;
  height: 100%;
  align-items: center;
  color: #fff;
  &__inner {
    max-width: 600px;
  }
  ul {
    padding: 0;
  }
  &__sub-title {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5rem;
  }
  &__item {
    color: #fff;
    list-style-type: none;
    h4 {
      color: $orange;
      text-transform: uppercase;
      line-height: 1.6;
      font-size: 1.2rem;
    }
  }
}
