.quote {
  border: 1px solid lightgrey;
  text-align: center;
  padding: 0.2rem;
  &__inner {
    margin: auto;
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    padding: 4rem;

    h4 {
      margin: auto;
      line-height: 1.5;
      max-width: 500px;
      font-size: 2rem;
      color: grey;
    }
  }
}
