.review {
  max-width: 800px;
  margin: auto;
  margin-bottom: 2rem;
  &__meta-details {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
  }
  /*
  not a very descriptive name
  */
  &--no-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
  }
  &--spaced {
    margin: 1rem auto;
    & div {
      margin: 0.3rem 0;
    }
  }
  &__author {
    font-size: 1.2rem;
  }
  &__rating {
    color: $orange;
    font-size: 1.2rem;
  }
  &__avatar {
    background-color: purple;
    color: #fff;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.3rem;
  }
}
