.table {
  list-style-type: none;
  padding: 0;
  li {
    padding: 0.3rem;
  }
  li:nth-child(odd) {
    background-color: #ececec;
  }

  li:nth-child(even) {
    background-color: $lightGray;
  }
  &--large {
    font-size: 1.2rem;
  }
  &--low-contrast {
    color: gray;
  }
}
