$orange: #ff782b;
$blue: #456796;
$darkBlue: #033150;
$lightGray: #f7f7f7;
$navy: #415061;
$lightText: #5f727f;
$ultraLightText: #b7c9d4;
$greyFilter: rgba(0, 0, 0, 0.46);
$blueFilter: rgba(39, 59, 86, 0.57);
